.footer {
  padding-bottom: 20px;

  @media screen and (max-width: 380px) {
    background: #0e1014;
    padding-top: 42px;
    padding-bottom: 60px;
  }

  .container {
    @media screen and (max-width: 380px) {
      padding: 0 5%;
    }
  }

  &__subtitle {
    font-weight: 700;
    color: #656566;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.7px;

    @media screen and (max-width: 480px) {
      font-size: 12px;
      margin-bottom: 22px;
    }
  }

  &__top {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__menu {
    &-item {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 13px;
      }
    }

    &-link {
      font-size: 16px;
      white-space: nowrap;

      @media screen and (max-width: 1050px) {
        text-wrap: wrap;
      }

      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }

    &--double {
      column-count: 2;
      max-width: 377px;
    }
  }

  &__left {
    display: flex;

    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }

  &__block {
    &--left {
      margin-right: 99px;

      @media screen and (max-width: 915px) {
        margin-right: 20px;
      }

      @media screen and (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 33px;
      }
    }

    &--right {
      margin-left: auto;
      text-align: right;

      @media screen and (max-width: 768px) {
        margin-left: initial;
        text-align: left;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    margin-right: 3px;
    margin-bottom: 21px;

    .socials {
      &__item {
        margin-right: 14px;
      }
    }

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }

    @media screen and (max-width: 380px) {
      margin-bottom: 13px;

      .socials {
        &__item {
          margin-right: 20px;
        }
      }
    }
  }

  &__phone {
    margin-bottom: 25px;

    @media screen and (max-width: 380px) {
      margin-bottom: 15px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 31px;

    @media screen and (max-width: 480px) {
      margin-top: 54px;
      justify-content: flex-start;
    }

    .copyright {
      @media screen and (max-width: 480px) {
        text-align: left;
      }
    }
  }

  &__address {
    .address {
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}
